.map {
  border-radius: 18px;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-image: radial-gradient(circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
}