.search {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  display: flex;
  overflow: hidden;
  &:hover > input {
    width: 240px;
    padding: 10px;
    border-radius: 40px;
  }
  &:hover > &_btn {
    background: rgb(255, 255, 255);
  }
  &_btn {
    fill: #1da1f3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }
  input {
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
    background: #2f3640;
    &::placeholder {
      color: rgba(255, 255, 255, .3);
    }
    &:focus {
      width: 240px;
      padding: 10px 10px 10px 15px;
    }
  }
}